@import url("variables/global.css");
@import url("themes/light.css");
@import url("themes/dark.css");
@import url("reset.css");
@import url("sr-only.css");

body {
  font: var(--font-m);
}

.app {
  min-height: 100vh;

  background-color: var(--bg-color);
  color: var(--primary-color);
}

.content-page {
  display: grid;
  grid-template-columns: auto 1fr;
}

.page-wrapper {
  overflow-y: auto;

  height: calc(100vh - var(--navbar-height));
  padding: 20px 20px 20px 45px;
}
