.app-theme-light {
  --bg-color: #efefef;
  --inverted-bg-color: #193881;
  --primary-color: #083bbb;
  --secondary-color: #1a85f1;
  --inverted-primary-color: #038103;
  --inverted-secondary-color: #38d503;
  --theme-switcher-color: #ffc700;

  /* skeleton */
  --skeleton-color: #fff;
  --skeleton-shadow: rgb(0 0 0 / 20%);

  /* code */
  --code-bg: #fbfbfb;
}
