.AppButton {
  color: var(--primary-color);

  cursor: pointer;
}

/* theme */
.clear {
  margin: 0;
  padding: 0;
  border: 0;

  background-color: transparent;
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--inverted-primary-color);
}

.background {
  border: 0;

  background-color: var(--bg-color);
  color: var(--primary-color);
}

.backgroundInverted {
  border: 0;

  background-color: var(--inverted-bg-color);
  color: var(--inverted-primary-color);
}

/* size */
.size-m {
  font-size: var(--font-size-m);
}

.size-l {
  font-size: var(--font-size-l);
}

.size-xl {
  font-size: var(--font-size-xl);
}

.square {
  padding: 0;
}

.square.size-m {
  width: var(--font-line-m);
  height: var(--font-line-m);

  font-size: var(--font-size-m);
}

.square.size-l {
  width: var(--font-line-l);
  height: var(--font-line-l);

  font-size: var(--font-size-l);
}

.square.size-xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);

  font-size: var(--font-size-xl);
}
