.AppButton {
  color: var(--primary-color);

  cursor: pointer;
}

.clear {
  margin: 0;
  padding: 0;
  border: 0;

  background-color: transparent;
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--inverted-primary-color);
}
